<?xml version="1.0" encoding="utf-8"?>
<SAVWMS>
  <Server>
      <ID>服务器</ID>
      <EVCSversion>v1.01</EVCSversion>
      <Volumeversion>v0.07</Volumeversion>
  </Server>
  <NetLink>
    <IP>
      <server>127.0.0.1</server>
      <serverpoint>2010</serverpoint>
    </IP>
  </NetLink>
</SAVWMS>